@import url("https://fonts.googleapis.com/css2?family=Combo&family=Open+Sans:wght@300;400&display=swap");

:root {
  --form-control-color: #333;
}

*,
*:before,
*:after {
  font-size: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* .body {
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
} */

.title {
  /* display: block; */
  font-size: 40px;
  text-align: center;
  margin: 30px 0 30px;
}

.main {
  /* height: 90vh; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.container {
  box-sizing: content-box;
  width: 650px;
  height: 650px;
  border: 0.5px #333 solid;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.square {
  border: 0.5px #333 solid;
}

.controls {
  width: 200px;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10px;
}

.size,
.colour {
  width: 100%;
  /* border: 1px #333 solid; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 20px;
}

.new-canvas {
  width: 100%;
  padding: 0 20px;
  /* margin: 0 0 20px; */
  display: flex;
  justify-self: flex-end;
}

.control-form {
  display: flex;
  flex-direction: column;
}

.control-title {
  font-size: 26px;
  margin-bottom: 10px;
}

.control-choice {
  font-size: 16px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

/* Little radio buttons manipulation  */

input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1em;
  height: 1em;
  border: 0.1em solid currentColor;
  border-radius: 50%;
  transform: translateY(0.2em);
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 60ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

/* input[type="radio"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
} */

.btn {
  background-color: #ccc;
  padding: 5px 10px;
  margin-top: 5px;
  border: 0.5px #999 solid;
  cursor: pointer;
}

.btn:hover {
  background-color: #aaa;
}

.btn-new {
  font-size: 20px;
  margin: 0;
}

/* Media queries

Smartphones & small tablets */

@media only screen and (max-width: 1024px) {
  .main {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .controls {
    flex-direction: column;
    width: 650px;
    height: 200px;
    justify-content: space-between;
  }

  .size,
  .colour,
  .new-canvas {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .control-form {
    flex-direction: row;
  }
}
