@import url("https://fonts.googleapis.com/css2?family=Combo&family=Open+Sans:wght@300;400&display=swap");

:root {
  --form-control-color: #32ac27;
}

*,
*:before,
*:after {
  font-size: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ddd;
  /* background: url("img/steve-johnson-YS0YJLU_h2k-unsplash.jpeg"); */
  font-family: "Open Sans", sans-serif;
}

.i {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.title {
  font-size: 40px;
  text-align: center;
  margin: 30px 0 30px;
  font-weight: 700;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.container {
  background-color: #fff;
  box-sizing: content-box;
  width: 650px;
  height: 650px;
  border: 0.5px #999 solid;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px #32ac27;
}

.square {
  border: 0.5px #999 solid;
}

.controls {
  width: 160px;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10px;
}

.radios {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 60px;
}

.size,
.colour {
  width: 100%;
  /* border: 1px #333 solid; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 20px;
}

.new-canvas {
  width: 100%;
  padding: 0 20px;
  /* margin: 0 0 20px; */
  display: flex;
  justify-self: flex-end;
}

.control-form {
  display: flex;
  flex-direction: column;
}

.control-title {
  /* font-size: 26px; */
  margin-bottom: 10px;
  /* font-weight: 500; */
}

.control-choice {
  font-size: 16px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  font-weight: 300;
}

/* Little radio buttons manipulation  */

input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1em;
  height: 1em;
  border: 0.1em solid currentColor;
  border-radius: 50%;
  transform: translateY(0.2em);
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 60ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

/* input[type="radio"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
} */

.btn {
  /* background-color: #3ed13145; */
  padding: 5px 10px;
  margin-top: 5px;
  /* border: 0px #999 solid; */
  cursor: pointer;
  font-weight: 500;
  /* transform: rotate(-10deg); */
}

.new-canvas:hover {
  transition: 100ms;
  color: #32ac27;
  transform: scale(1.2);
  cursor: pointer;
}

.btn:hover {
  /* background-color: #aaa; */
  transition: 200ms ease-in-out;
  transform: scale(1.2);
}

.btn-new {
  font-size: 20px;
  margin: 0;
  width: 100px;
}

/* Media queries

Smartphones & small tablets */

@media only screen and (max-width: 1024px) {
  .main {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .container {
    width: 70%;
  }

  .controls {
    margin: 20px 0 0;
    flex-direction: row;
    width: 70%;
    height: 150px;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0;
  }

  .radios {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    gap: 0;
  }

  .size,
  .colour {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .control-title {
    width: 30px;
    align-self: flex-start;
    margin-right: 5px;
    font-size: 10px;
  }

  .control-form {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }

  .control-choice {
    margin: 5px 15px 5px 10px;
  }

  .new-canvas {
    width: 15%;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    align-self: flex-start;
  }

  .new-canvas i {
    /* align-self: flex-end;
    justify-content: flex-end;
    text-align: right; */
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 26px;
  }
  .container {
    width: 300px;
  }
  .controls {
    width: 250px;
    justify-content: space-around;
  }
  .control-title {
    font-size: 16px;
  }
  .control-choice {
    font-size: 10px;
  }

  .colour .control-choice {
    padding-left: 20px;
  }
  .btn-new {
    font-size: 16px;
    width: 80px;
    padding: 5px;
    margin-left: 20px;
  }
}
